body {
    background-color: aquamarine;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.map-responsive {
    background-color: brown;    
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    position: absolute;
}

.navbar {
    background-color: green;
}

#map {
    height: 425px;
  }