/* Verde:
#C9E265

Gris:
#E2E2E2 */
@font-face{
    font-family: BebasNeue_Bold;
    src: url(../font/BebasNeue_Bold.otf);
}
@font-face{
    font-family: BebasNeue_Book;
    src: url(../font/BebasNeue_Book.otf);
}
@font-face{
    font-family: BebasNeue_Light;
    src: url(../font/BebasNeue_Light.otf);
}
@font-face{
    font-family: BebasNeue_Regular;
    src: url(../font/BebasNeue_Regular.otf);
}
@font-face{
    font-family: Nexa_Bold;
    src: url(../font/Nexa_Bold.otf);
}
@font-face{
    font-family: Rockness;
    src: url(../font/Rockness.ttf);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: relative;
}
/* *********** HEADER NAV BAR ********* */
.header {
    position: sticky;
    top: 0;
    z-index: 3;      
}

.navbar{
    box-shadow: none;
    height: 150px;
}

.navbar-custom {
    background: linear-gradient(0deg, rgba(201, 226, 101,0),rgba(201, 226, 101,1))
}

.navbar-nav {
    font-family: 'Oswald', sans-serif;  
}

.navbar-nav li a {
    color: #2c2c2c;
    font-size: 1.5em;
    font-family: BebasNeue_Bold;
}

.ml-auto{
    display: flex;
    justify-content: space-around;
}

.top-nav-collapse {
    background-color: #0078ff;
}
 
/* ******** CAROUSEL *********** */

.logo-carousel {
    position: absolute;
    top: 20%;
    z-index: 1;
    left: 0;
    right: 0;    
}

.logo-carousel .animate{
    font-family: Rockness;
    font-size: 5em;  
    margin: 100px 0 0;  
}

.animate span {
	display: inline-block;
}

.map-responsive {
    background-color: brown;    
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ****** PORTFOLIO ****** */

.portfolio{
    background-image: url('../images/print2.jpg') ;
    /* background-color: #fafafa;    */
    background-attachment: fixed;    
    background-size: cover;
    padding-top: 4rem; 
  }

.title-box h2 {
    font-size: 3rem;
    font-weight: bold;
}


.title-center h2,p{
    text-align: justify;
}

.subtitle-portfolio {
    text-align: center;
}



.line-mf {    
    border: 3px solid #3279F6;
    width: 40px;
    margin: 0 auto 20px auto;
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    text-align: start;
}

.work-box:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.work-img {
    display: block;
    overflow: hidden;
}

.work-img img {
    transition: all 1s;
}

.work-content {
    padding: 2rem 3% 1rem 4%;
}

.work-content .w-title {
    text-align: start;
    font-size: 1.2rem;
    color: black;   
}

.work-content .w-more {
    color: #4e4e4e;
    font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
    color: #0078ff;
}

.work-content .w-like {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
}
/* ****** MAP GOOGLE ****** */
#map {
    height: 425px;
  }

  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    /* FORM - CONTACT */

.mb-5 {        
    margin-top: 50px;
    font-size: 3em;
}


/* ******** MEDIA QUERYS ********* */

@media screen and (max-width: 786px) {
    .logo-carousel{
        display: none;
    }
} 